/*
project name: one pages
project create date: 29 Ekim 2023
project author: Hamit Mızrak
project version: V.1
*/

/*########################################*/
/* common property*/
/* base config  */
:root {
    --primary-color: #e3e8ed !important;
    --secondary-color: #4fe4a8 !important;
    --dark-color: #3b5b5d !important;
    --max-width: 1100px;
    --navbar-icon-color: chartreuse;
    --backtotop-background: #3c50e4;
    --backtotop-color: #fff;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    line-height: 1.4;
    background-color: var(--primary-color);
    position: relative;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    transition: 1s all;
}

img:hover {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .7);
    cursor: pointer;
}

ul {
    list-style-type: none;
}

p {
    text-align: center;
    margin: 0.3rem 0.8rem;
    /* text-align: justify; */
}

i {
    font-size: 1rem;
}

/*########################################*/
/*line-clamp*/
.line_clamp4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.line_clamp8 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.line_clamp9 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

.line_clamp10 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}



/*########################################*/
/*navbar*/
#navbar ul li a span {
    font-size: 0.9rem;
    margin-left: 0.6rem;
}

#navbar ul li a i {
    font-size: 1rem;
    color: var(--navbar-icon-color);
}

#logo {
    border-radius: 50%;
    height: 4rem;
}

#logo:hover {
    /* opacity: 0.9; */
    opacity: .8;
    box-shadow: 1px 1px 3px 1px rgba(255, 255, 255, .7);
}

#dropdownId {
    margin-top: -3rem;
}

/*dark-light */
.dark_mode {
    background-color: #000000;
    color: azure;
    margin-left: .6rem;
}


/*########################################*/
/*header*/
#header {
    background-image: url('./pictures/home-office-g32b1224ae_1920.jpg');
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 95vh;
    padding-top: 15rem;
}

#header h1,
h4 {
    color: #ffffff;
    background-color: #171818;
}


/*########################################*/
/*main*/
/* our_work */
#our_work {
    margin: 1rem;
}

/* çalışmalar */
#our_work i {
    font-size: 6rem;
    margin-bottom: 1rem;
}

/* counter */
#counter {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgba(60, 42, 215, 0.7);
    color: #fff;
}

#counter .counters {
    padding-top: 2rem;
}


/* blog*/
#blog {
    position: relative;
    padding: 10rem
}

#blog::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    content: "";
    background-image: url('./pictures/home-office-g32b1224ae_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
}

#blog .card{
    margin-top: 1.2rem;
}

/*########################################*/
/*footer*/
footer {
    min-height: 20rem;
    width: 100%;
    background-color: #3b5b5d;
    color: white;
}


/*########################################*/
/*back top*/
#back_top {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 3rem;
    padding: .4rem .8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--backtotop-background);
    color: var(--backtotop-color);
}

#back_top:hover {
    opacity: .8;
    background-color: var(--backtotop-color);
    color: var(--backtotop-background);

}