/*
project name: one pages
project create date: 29 Ekim 2023
project author: Hamit Mızrak
project version: V.1
*/

/*########################################*/
/* common property*/
/* base config  */
:root {
    --primary-color: #007bff !important;
    --secondary-color: #4fe4a8 !important;
    --dark-color: #3b5b5d !important;
    --max-width: 1100px;
    --navbar-icon-color: chartreuse;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    line-height: 1.4;
    background-color: var(--primary-color);
    position: relative;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    transition: 1s all;
}

img:hover {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .7);
    cursor: pointer;
}

ul {
    list-style-type: none;
}

p {
    text-align: center;
    margin: 0.3rem 0.8rem;
    text-align: justify;
}

i {
    font-size: 1rem;
}

/*########################################*/
/*line-clamp*/



/*########################################*/
/*navbar*/
#navbar ul li a span {
    font-size: 0.9rem;
    margin-left: 0.6rem;
}

#navbar ul li a i {
    font-size: 1rem;
    color: var(--navbar-icon-color);
}

#logo {
    border-radius: 50%;
    height: 4rem;
}

#logo:hover {
    /* opacity: 0.9; */
    opacity: .8;
    box-shadow: 1px 1px 3px 1px rgba(255, 255, 255, .7);
}

#dropdownId {
    margin-top: -3rem;
}

/*########################################*/
/*dark-light */
.dark_mode {
    background-color: #000000;
    color: azure;
    margin-left: .6rem;
}