<!doctype html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

    <!--<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>-->

    <!--<link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>-->

    <style>
        body, table tr {
            color: white !important;
        }
    </style>

    <!-- dataTables CSS: paging and sorting -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
</head>

<body class="container bg-dark ">

<!-- start codes -->
<h1>Register</h1>
<a th:href="@{/register/list}" class="btn btn-warning">Admin</a>
<div class="card text-center" style="width: 15rem">
    <img class="card-img-top" src="../../../../../frontend/myproject/pictures/background-gd25ecfcaa_1920.jpg"  />
    <div class="card-body">
       <h4  class="text-dark">Register Details</h4>
        <p th:text="${register_find.id}" class="text-dark"></p>
        <p th:text="${register_find.name}" class="text-dark"></p>
        <p th:text="${register_find.surname}" class="text-dark"></p>
        <p th:text="${register_find.password}" class="text-dark"></p>
        <p th:text="${register_find.emailAddress}" class="text-dark"></p>
    </div>
    <span class="text-muted"  th:text="${register_find.createdDate}"></span>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>