<!doctype html>
<html  th:lang="${#locale.language}"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Thymeleaf</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <link rel="stylesheet"   th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>
    <style>
        body, table tr {
            color:white!important;
        }
    </style>
</head>

<body class="container bg-dark text-white">

    <!-- start codes -->
  <h1>Register</h1>
    <button class="btn btn-danger btn-sm">Hızlı ekle</button>
    <button th:text="#{register.adduser}" class="btn btn-primary btn-sm">Kullanıcı ekle</button>
    <table class="table table-hover table-striped">
        <tr>
            <th th:text="#{register.id}"></th>
            <th th:text="#{register.name}"></th>
            <th th:text="#{register.surname}"></th>
            <th th:text="#{register.email}"></th>
            <th th:text="#{register.password}"></th>
            <th th:text="#{register.created_date}"></th>
            <th th:text="#{register.update}"></th>
            <th th:text="#{register.show}"></th>
            <th th:text="#{register.delete}"></th>
        </tr>
        <tr th:each="register:${key_thymeleaf5}">
            <td th:text="${register.id}"></td>
            <td th:text="${register.name}"></td>
            <td th:text="${register.surname}"></td>
            <td th:text="${register.emailAddress}"></td>
            <td th:text="${register.password}"></td>
            <td th:text="${register.createdDate}"></td>
            <td><i class="fa-solid fa-wrench text-primary"></i></td>
            <td><i class="fa-solid fa-wifi text-warning"></i></td>
            <td><i class="fa-solid fa-trash text-danger"></i></td>
        </tr>
    </table>
    <!-- ends codes -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>